In [ ]:
py -m pip install xlrd
py -m pip install Unidecode

In [13]:
import pandas as pd
import numpy as np
from unidecode import unidecode

In [16]:
# dataset = pd.read_csv('Change criteria hypertension peru.xls')
# dataset

path = 'Change criteria hypertension peru.xls'
sheet_name='Sheet1'

df_hipertension = pd.read_excel(path, sheet_name)
df_hipertension

,id,city,masl,sex,age_years,systolic_bp,diastolic_bp,weight_kg,height_cm,body_mass_index,...,physical_activity,msnm,region,sist_old,diast_old,sist_new,diast_new,treatment,HTA_new,BMI_cat
0,3574,Huancayo,3250,Female,23,118.5,74.0,58.000000,163.0,21.799999,...,Yes,2-4mil msnm,Mountain,Optma,Optma,Normal,Norm/elev,No,No,Normal
1,1092,Loreto,100,Male,60,110.0,70.0,54.400002,160.0,21.299999,...,No,<2000msm,Jungle,Optma,Optma,Normal,Norm/elev,No,No,Normal
2,861,Lima,500,Female,38,120.0,80.0,65.000000,163.0,24.500000,...,Yes,<2000msm,Coast,Optma,Normal,Normal,HTA 1,No,Yes,Normal
3,835,Lima,500,Female,43,110.0,80.0,60.000000,157.0,24.299999,...,No,<2000msm,Coast,Optma,Normal,Normal,HTA 1,No,Yes,Normal
4,4654,Huï¿½nuco,1900,Female,30,95.0,60.0,50.000000,152.0,21.600000,...,Yes,<2000msm,Mountain,Optma,Optma,Normal,Norm/elev,No,No,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5610,5490,Puno,3800,Male,25,80.0,60.0,NaN,NaN,NaN,...,Yes,2-4mil msnm,Mountain,Optma,Optma,Normal,Norm/elev,No,No,NaN
5611,4731,Puno,3800,Female,55,105.0,62.5,NaN,NaN,NaN,...,Yes,2-4mil msnm,Mountain,Optma,Optma,Normal,Norm/elev,No,No,NaN
5612,4715,Puno,3800,Male,46,122.5,85.0,NaN,NaN,NaN,...,No,2-4mil msnm,Mountain,Normal,Normal/alta,Elevado,HTA 1,No,Yes,NaN
5613,4750,Puno,3800,Male,24,115.0,65.0,NaN,NaN,NaN,...,No,2-4mil msnm,Mountain,Optma,Optma,Normal,Norm/elev,No,No,NaN
5614,5350,Puno,3800,Female,30,90.0,60.0,NaN,NaN,NaN,...,Yes,2-4mil msnm,Mountain,Optma,Optma,Normal,Norm/elev,No,No,NaN

In [18]:
# convertir variables categoricas a numericas
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df_hipertension['city'] = encoder.fit_transform(df_hipertension.city.values)
df_hipertension['sex'] = encoder.fit_transform(df_hipertension.sex.values)
df_hipertension['region'] = encoder.fit_transform(df_hipertension.region.values)
df_hipertension['physical_activity'] = encoder.fit_transform(df_hipertension.physical_activity.values)
df_hipertension['sist_old'] = encoder.fit_transform(df_hipertension.sist_old.values)
df_hipertension['msnm'] = encoder.fit_transform(df_hipertension.msnm.values)
#df_hipertension['sist_old'] = encoder.fit_transform(df_hipertension.sist_old.values)
#df_hipertension['sist_old'] = encoder.fit_transform(df_hipertension.sist_old.values)
#df_hipertension['sist_old'] = encoder.fit_transform(df_hipertension.sist_old.values)
df_hipertension

,id,city,masl,sex,age_years,systolic_bp,diastolic_bp,weight_kg,height_cm,body_mass_index,...,physical_activity,msnm,region,sist_old,diast_old,sist_new,diast_new,treatment,HTA_new,BMI_cat
0,3574,3,3250,0,23,118.5,74.0,58.000000,163.0,21.799999,...,1,2-4mil msnm,2,5,Optma,Normal,Norm/elev,No,No,Normal
1,1092,6,100,1,60,110.0,70.0,54.400002,160.0,21.299999,...,0,<2000msm,1,5,Optma,Normal,Norm/elev,No,No,Normal
2,861,5,500,0,38,120.0,80.0,65.000000,163.0,24.500000,...,1,<2000msm,0,5,Normal,Normal,HTA 1,No,Yes,Normal
3,835,5,500,0,43,110.0,80.0,60.000000,157.0,24.299999,...,0,<2000msm,0,5,Normal,Normal,HTA 1,No,Yes,Normal
4,4654,4,1900,0,30,95.0,60.0,50.000000,152.0,21.600000,...,1,<2000msm,2,5,Optma,Normal,Norm/elev,No,No,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5610,5490,8,3800,1,25,80.0,60.0,NaN,NaN,NaN,...,1,2-4mil msnm,2,5,Optma,Normal,Norm/elev,No,No,NaN
5611,4731,8,3800,0,55,105.0,62.5,NaN,NaN,NaN,...,1,2-4mil msnm,2,5,Optma,Normal,Norm/elev,No,No,NaN
5612,4715,8,3800,1,46,122.5,85.0,NaN,NaN,NaN,...,0,2-4mil msnm,2,3,Normal/alta,Elevado,HTA 1,No,Yes,NaN
5613,4750,8,3800,1,24,115.0,65.0,NaN,NaN,NaN,...,0,2-4mil msnm,2,5,Optma,Normal,Norm/elev,No,No,NaN
5614,5350,8,3800,0,30,90.0,60.0,NaN,NaN,NaN,...,1,2-4mil msnm,2,5,Optma,Normal,Norm/elev,No,No,NaN